.main {
  padding: 2rem;
  min-height: 100vh;
  background-color: var(--bg-primary);
}

.container {
  max-width: 1200px;
  margin: 0 auto;
}

.main h1 {
  margin-bottom: 1rem;
  text-align: center;
  text-transform: capitalize;
}

.description {
  text-align: center;
  margin-bottom: 3rem;
  font-size: 1.1rem;
}

.servicesGrid {
  display: grid;
  grid-template-columns: repeat(auto-fill, minmax(280px, 1fr));
  gap: 2rem;
}
