.breadcrumb {
  padding: 1rem 0;
  margin-bottom: 2rem;
}

.breadcrumb ul {
  list-style: none;
  display: flex;
  align-items: center;
  gap: 0.5rem;
}

.breadcrumb li {
  display: flex;
  align-items: center;
  gap: 0.5rem;
}

.breadcrumb a {
  color: var(--theme-primary);
}

.breadcrumb a:hover {
  text-decoration: underline;
}

.breadcrumb span:not(.separator) {
  color: var(--fg-secondary);
}

.separator {
  color: var(--fg-secondary);
}
